@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  background-color: rgb(255, 252, 244);
  padding-top: 25px;
}

/*Logo*/

.logo {
  gap: 0.3rem;
}
.main_logo {
  width: 2rem;
  height: 2rem;
}
h1 {
  font-family: "Volkhov", serif;
  font-size: 30px;
  font-weight: bold;
}
/*Display property*/

.flex {
  display: flex;
}
.header_section {
  background-color: rgb(255, 252, 244);
}

.nav_menu {
  justify-content: space-evenly;
  padding-left: 1rem;
}
/*Login Section*/

.login:hover {
  cursor: pointer;
  color: #000000;
}
.sign_up:hover {
  cursor: pointer;
  background-color: white;
  color: #000000;
  border: 2px solid orangered;
}

.login {
  width: 100px;
  height: 25px;
  border: none;
  background-color: rgb(255, 252, 244);
  font-weight: 700;
  color: orangered;
  justify-content: center;
}

.sign_up {
  width: 100px;
  height: 35px;
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 6px;
  justify-content: center;
  font-weight: 100;
}
.login_section {
  justify-content: space-between;
}
/*Menu bar */

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}
.menu_list {
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

/*Content section*/

.content_section {
  width: 100%;
  display: flex;
  padding-left: 10rem;
  padding-right: 2rem;
}
.content {
  width: 50%;
}

.content_1 {
  font-size: 50px;
  padding-top: 10rem;
}

span {
  color: orangered;
}

.description {
  align-items: end;
  padding: 30px 0 40px 0;
}

.discover_btn {
  width: 200px;
  height: 50px;
  color: orange;
  background-color: white;
  border: 2px solid orange;
  border-radius: 8px;
  font-weight: 100;
}

.discover_btn:hover {
  cursor: pointer;
  border: 2px solid orangered;
  background-color: orangered;
  color: white;
}
.picture {
  width: 50%;
  padding: 2rem;
}
.pic_1 {
  width: 100%;
  z-index: 1;
}

.cards {
  width: 50%;
}
.card_1 img,
.card_2 img,
.card_3 img {
  width: 30px;
  height: 35px;
  justify-content: center;
  z-index: 1;
}
.card_1 {
  font-size: smaller;
  width: 8rem;
  background-color: white;
  color: black;

  border-radius: 8px;
  display: flex;
  text-align: center;
  padding: 5px;
  line-height: 1rem;
  position: relative;
}

.card_2 {
  font-size: smaller;
  width: 10rem;
  background-color: white;
  color: black;

  border-radius: 8px;
  display: flex;
  text-align: center;
  padding: 5px;
  line-height: 1rem;
  position: relative;
  top: 4rem;
  left: 23rem;
  z-index: 4;
}

.card_3 {
  font-size: smaller;
  width: 10rem;
  background-color: white;
  color: black;

  border-radius: 8px;
  display: flex;
  text-align: center;
  padding: 5px;
  line-height: 1rem;
  position: absolute;
  left: 58%;
  bottom: 17%;
  z-index: 4;
}
.pic_2 {
  position: relative;
  left: 4rem;
  top: -13rem;
  z-index: 3;
}
.pic_3 {
  position: absolute;
  top: 62%;
  left: 59%;
  bottom: -3rem;
  z-index: 2;
}

/*Search Bar*/

.search_bar {
  width: 50rem;
  height: 7rem;
  margin: 0 3rem 0 15rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  top: 40rem;
  left: 5rem;

  > h5 p {
    font-size: 10px;
    font-weight: normal;
  }
}

.explore_btn {
  width: 150px;
  height: 50px;
  color: white;
  background-color: orangered;
  border: 2px solid orange;
  border-radius: 8px;
  justify-content: center;
  font-weight: 100;
}

.explore_btn:hover {
  cursor: pointer;
  border: 2px solid orangered;
  background-color: orangered;
  color: white;
}
/*page 2*/
.section_2 {
  height: 99vh;
  background-color: #e4e4e4;
}

.title {
  justify-content: center;
  text-align: center;
  padding-left: 12rem;
  font-size: 50px;

  p {
    padding-top: 1rem;
    font-size: medium;
  }
  h1 {
    padding-top: 4rem;
    font-size: 50px;
  }
  .vector_1 {
    width: 12rem;
    height: 12rem;
    padding-top: 4rem;
    padding-left: 4rem;
  }
}
.description_2 {
  padding-bottom: 3rem;
}
.section__card {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sign__up,
.money,
.location {
  width: 20rem;
  height: 15rem;
  background-color: white;
  color: #000000;
  border-radius: 8px;
  padding: 2rem;
}

/*deals & discount*/

.deals_discounts {
  height: 99vh;
  background-color: #e4e4e4;
}

.deals {
  text-align: center;
  width: 100%;
  height: 25%;
  padding-top: 2rem;
}
.image_cards {
  width: 50px;
  height: 50px;
  display: flex;
  padding: 0 3rem 0 6rem;
  gap: 1rem;
}
.image_1 {
  height: 25rem;
  background-color: white;
  border-radius: 8px;
}
.starr {
  width: 20px;
  height: 20px;
}

.footer_content {
  padding: 1rem;
  padding-top: 0;
  justify-content: space-between;
  > .ftr {
    gap: 1rem;
  }
}
.spain {
  justify-content: space-around;
}
.spain-1,
.spain-2 {
  gap: 1rem;
}

#spain {
  width: 50px;
  height: 25px;
  background-color: #dbbe9c;
  border-radius: 8px;
  color: orangered;
  text-align: center;
  justify-content: space-evenly;
}

.image_1:hover {
  cursor: pointer;
}

.btns {
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

/* Vacation */

.vacation {
  height: 99vh;
  background-color: #e4e4e4;
}

.text_container {
  width: 100%;

  text-align: center;
  justify-content: center;
  align-items: end;
  display: flex;
  padding-left: 6rem;
  > .tree_vector {
    padding: 4rem 0 0 2rem;
  }
}
.vacation_btn {
  text-align: right;
  justify-content: end;
}
.vacation_cards {
  height: 20rem;
  justify-content: space-evenly;
}

.card_bg {
  background-color: white;
  width: 25%;
  height: 20rem;
  border-radius: 8px;
}
.v__card_1,
.v__card_2,
.v__card_3 {
  width: 100%;
  height: 70%;
}

.ftr_1,
.ftr_2 {
  height: 50px;
  justify-content: space-between;
  padding-right: 2rem;
}
.nav {
  height: 20px;
  width: 20px;
  gap: 2rem;
}

.testimonial {
  width: 100%;
  height: 90vh;
  background-color: #e2dfdf;
}

.right_content {
  padding-top: 10rem;
  padding-left: 10rem;
  justify-content: center;
  > h1 {
    font-size: x-large;
  }
}

.plane2 {
  padding-right: 2rem;
  padding-bottom: 1rem;
  width: 15rem;
  height: 10rem;
}
.left_content {
  padding-bottom: 20rem;
}

.blog {
  height: 99vh;
  background-color: #e2dfdf;
}

.blog_content {
  width: 100%;
  height: 30%;
  text-align: center;
}
.sliders {
  justify-content: space-evenly;
}
.footer_section {
  width: 100%;
  height: 100vh;
  background-color: #fdf9f9;
  text-align: center;
  padding-top: 5rem;
}

.upper_footer {
  width: 90%;
  height: 55%;
  display: flex;
  justify-content: center;
  background-color: orangered;
  margin-left: 8rem;
  margin-right: 100rem;
  padding-left: 25rem;
  padding-top: 3rem;
  border-radius: 10px;
  color: white;

  > h1 {
    padding-right: rem;
  }
}

.treee {
  width: 15rem;
  height: 5rem;
  padding-left: 10rem;
}

.ellipse {
  position: absolute;
  right: 66.8%;
  width: 20rem;
  height: 15rem;
}
.Subscribe {
  width: 100px;
  height: 25px;
  color: white;
  background-color: orangered;
  border: 2px solid orange;
  border-radius: 8px;
  justify-content: center;
  font-weight: 100;
}

.Subscribe:hover {
  cursor: pointer;
  border: 2px solid orangered;
  background-color: rgb(255, 255, 255);
  color: black;
}

.lower_footer {
  justify-content: space-around;
  position: relative;
  top: 10rem;
}

.term {
  padding-top: 30%;
}
